body {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: hsla(0, 0%, 7%, 0.644);
  color: white;
  background-image: url('images/cover_BackroundImage/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

canvas {
  margin: 0 auto;
  width: 50%;
  background-color: #000000;
  border-radius: 8px;
}
